build/
doc/
autoconf/
autom4te.cache/
CMakeFiles/
Testing/
INSTALL
demo-*
test-*
configure
Makefile
Makefile.in
aclocal.m4
libtool
stamp-h1
cmake_*
CMakeCache.txt
CTest*
Dart*
config.h
args
car
keywait
mdsum
pdetach
sockaddr
zerofill
scrub-files
ucommon-config
ucommon-config.h*
commoncpp-config
config.h.in
config.log
config.status
configure.lineno
doxy.config
directive
*.zip
*.changes
*.dsc
*.a
*.o
*.lo
*.la
*.so*
*.authors
*.kdev4
*.deps
*.libs
*.pc
*.spec
*~
*.rpm
*.tar.xz
*.tar.gz
*.shar.gz
*.cbp
.dirstamp
test/ucommon[A-Z]*
test/demo[A-Z]*
utils/args
utils/car
utils/mdsum
utils/sockaddr
utils/zerofill
utils/scrub-files
utils/pdetach
TAGS
