build/
autoconf/
CMakeFiles/
demo-*
test-*
configure
Makefile
Makefile.in
aclocal.m4
cmake_*
CMakeCache.txt
CTest*
Dart*
config.h
args
car
mdsum
pdetach
sockaddr
zerofill
scrub-files
ucommon-config
commoncpp-config
doxy.config
*.a
*.o
*.lo
*.la
*.so*
*.authors
*.kdev4
*.deps
*.libs
*.pc
*.spec
*~
ucommon-config.h
